{% extends "base.html" %}

{% block content %}
<h2>Login</h2>
<h4 class="wrong">You have entered wrong password or username.</h4>
<div class="form-container">
<form method="post" class="login-form-page">
    <label for="username">Username</label>
    <input type="text" name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <button type="submit">Login</button>
</form>
</div>
{% endblock %}


